/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  color: #545367;
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
  color: #EC5F40;
  font-weight: 700;
}

h5 {
  text-transform: uppercase;
  color: #545367;
  font-weight: 700;
}

h6 {
  color: #545367;
  font-weight: 700;
}

p {
  line-height: 1.6;
}

a {
  color: #fff;
  text-decoration: none;
}

.fa-star {
  color: #EC5F40;
}

img {
  max-width: 100%;
}

.cta {
  background-color: #545367;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
}

.mb-01 {
  margin-bottom: 1rem;
}

.mb-02 {
  margin-bottom: 2rem;
}

.mb-03 {
  margin-bottom: 3rem;
}

.container {
  font-family: "Open Sans", sans-serif;
  color: #393939;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}
.container .nav {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 0;
  line-height: 2;
}
.container .nav .logo {
  color: #545367;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
.container .nav .menu ul {
  display: flex;
  justify-content: space-evenly;
}
.container .nav .menu ul li.active {
  border-bottom: 3px solid #EC5F40;
  padding-bottom: 0.5rem;
}
.container .nav .menu ul li a {
  color: #545367;
}
.container .nav .customer {
  color: #393939;
}
.container .nav .customer ul {
  display: flex;
  justify-content: space-evenly;
}
.container .hero {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.container .hero .copy {
  padding: 1rem;
}
.container .hero .copy .bar-h {
  position: relative;
  width: 273px;
}
.container .hero .copy .bar-h::after {
  background-color: #393939;
  content: "";
  position: absolute;
  height: 2px;
  width: 42px;
  bottom: 43%;
  right: 45%;
}
.container .hero .copy h1 {
  color: #545367;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
.container .hero .copy h1 span {
  color: #EC5F40;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -4px;
}
.container .hero .copy .cost {
  font-size: 2rem;
  color: #545367;
  font-weight: 700;
  display: inline-block;
}
.container .hero .copy hr {
  margin-right: 65%;
}
.container .hero .copy .info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.75rem;
}
.container .hero .copy .info h5 {
  font-size: 0.75rem;
}
.container .hero .copy .info p {
  color: #EC5F40;
}
.container .logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #F9F9FA;
  grid-auto-flow: dense;
  gap: 0.5rem;
  padding: 1rem;
}
.container .logos .logo-1 {
  grid-column: 2/span 2;
  grid-row: 1;
}
.container .logos .logo-2 {
  grid-column: 5/span 2;
  grid-row: 1;
}
.container .logos .logo-3 {
  grid-column: 2/span 2;
  grid-row: 2;
}
.container .logos .logo-4 {
  grid-column: 5/span 2;
  grid-row: 2;
}
.container .logos .logo-5 {
  grid-column: 2/span 2;
  grid-row: 3;
}
.container .full-width-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.container .explore-icons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 0.5fr);
  justify-content: center;
  text-align: center;
  place-items: center;
}
.container .popular-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.container .popular-wrap h2 {
  font-size: 1rem;
}
.container .popular-wrap .digits {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .popular-wrap .digits #one {
  font-size: 2rem;
  color: #545367;
}
.container .popular-wrap .digits #two {
  font-size: 1rem;
  color: #999999;
}
.container .popular-wrap .digits #three {
  font-size: 1rem;
  color: #999999;
}
.container .products-copy {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.container .products-copy .cta {
  box-shadow: 2px 6px 12px 1px #ccc;
}
.container .popular-cards {
  display: grid;
  margin: 1rem;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 17px;
}
.container .popular-cards .card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  box-shadow: 2px 6px 12px 1px #ccc;
  padding: 1rem;
}
.container .popular-cards .card .card-copy h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
.container .popular-cards .card .card-copy .cta {
  box-shadow: 2px 6px 12px 1px #ccc;
}
.container .popular-cards .card p {
  padding: 1rem 0;
}
.container .graph-section {
  background-color: #F9F9FA;
  display: grid;
  justify-content: center;
  place-items: center;
  padding: 2rem 0rem;
  margin: 3rem 0rem;
  grid-template-columns: 1fr;
}
.container .graph-section .graph {
  box-shadow: 2px 6px 12px 1px #ccc;
}
.container .graph-section .stats {
  padding: 2rem 0;
}
.container .graph-section .stats h5 {
  font-size: 5rem;
  text-align: center;
}
.container .graph-section .stats p {
  text-align: center;
}
.container .comments-wrap {
  display: grid;
  grid-template-columns: 0.75fr;
  grid-auto-rows: 1fr;
  justify-content: center;
}
.container .comments-wrap .person {
  padding: 1rem;
  text-align: center;
}
.container .comments-wrap .person .fa-star {
  padding: 0.65rem 0;
}
.container footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 0.25fr;
  justify-content: center;
  text-align: center;
  line-height: 2;
  background-color: #F9F9FA;
}
.container footer .footer-copy {
  grid-column: 1/span 6;
  place-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
}
.container footer .footer-copy .social-media {
  font-size: 2rem;
  color: #545367;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 2rem 0;
}
.container footer .footer-menu {
  grid-column: 2/span 2;
  text-align: left;
}
.container footer .footer-categories {
  grid-column: 4/span 2;
  text-align: left;
}
.container footer .footer-about-us {
  grid-column: 2/span 2;
  grid-row: 3/span 1;
  text-align: left;
}
.container footer .footer-copyright {
  grid-column: 1/span 6;
  grid-row: 4/span 1;
}
.container footer a {
  color: #393939;
}
@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .container .nav {
    display: grid;
    grid-template-columns: 0.75fr 1fr 0.25fr;
    padding: 2rem 0;
    line-height: initial;
  }
  .container .nav .customer ul {
    display: flex;
    justify-content: space-evenly;
  }
  .container .hero {
    grid-template-columns: 1fr 1.25fr;
  }
  .container .hero .copy {
    align-self: center;
  }
  .container .hero .copy h1 {
    font-size: 4.75rem;
    letter-spacing: -4px;
  }
  .container .hero .copy h1 span {
    font-size: 5rem;
  }
  .container .hero .copy .info {
    font-size: initial;
  }
  .container .logos {
    padding: 1rem;
  }
  .container .logos .logo-1 {
    grid-column: 2/span 1;
    grid-row: 2;
  }
  .container .logos .logo-2 {
    grid-column: 3/span 1;
    grid-row: 2;
  }
  .container .logos .logo-3 {
    grid-column: 4/span 1;
    grid-row: 2;
  }
  .container .logos .logo-4 {
    grid-column: 5/span 1;
    grid-row: 2;
  }
  .container .logos .logo-5 {
    grid-column: 6/span 1;
    grid-row: 2;
  }
  .container .full-width-copy {
    line-height: 2;
  }
  .container .explore-icons {
    gap: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .container .products-copy {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .container .products-copy .copy-area {
    align-self: center;
  }
  .container .popular-wrap {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .container .popular-wrap h2 {
    place-self: start;
    font-size: 2rem;
  }
  .container .popular-wrap .digits {
    place-self: end;
  }
  .container .popular-wrap .digits #one {
    font-size: 2rem;
  }
  .container .popular-wrap .digits hr {
    font-size: 1rem;
    width: 20px;
    margin: 0 11px 0 3px;
  }
  .container .popular-wrap .digits #two {
    font-size: 1rem;
  }
  .container .popular-wrap .digits hr {
    font-size: 1rem;
    width: 20px;
    margin: 0 11px 0 3px;
  }
  .container .popular-wrap .digits #three {
    font-size: 1rem;
  }
  .container .popular-wrap .digits hr {
    font-size: 1rem;
    width: 20px;
    margin: 0 11px 0 3px;
  }
  .container .popular-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .graph-section {
    grid-template-columns: 0.9fr 0.5fr 0.5fr 0.75fr;
  }
  .container .comments-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .container footer {
    place-items: none;
    justify-content: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto;
    padding: 3rem 0;
  }
  .container footer .footer-copy {
    grid-column: 1/3;
    padding: 0 2rem;
    justify-items: start;
  }
  .container footer .footer-copy h2 {
    font-size: 1.35rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .container footer .footer-copy p {
    text-align: left;
  }
  .container footer .footer-copy .social-media {
    font-size: 2rem;
    color: #545367;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .container footer .footer-menu {
    grid-column: 4/5;
    text-align: left;
  }
  .container footer .footer-categories {
    grid-column: 5/6;
    text-align: left;
  }
  .container footer .footer-about-us {
    grid-column: 6/7;
    grid-row: 1;
    text-align: left;
  }
  .container footer .footer-copyright {
    grid-column: 1/7;
    padding: 3rem;
  }
}
@media only screen and (min-width: 1100px) {
  .container {
    grid-template-columns: 0.75fr;
  }
}

/*# sourceMappingURL=styles.css.map */
