$primary-color: #4A90E2;
$secondary-color: #043670;
$white-color: #fff;
// General styles
* {
    margin: 0;
    padding: 0;
} 
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    // background: $secondary-color;
    color: $white-color;
}

a{
    text-decoration: none;
    color: $white-color;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    text-transform: uppercase;
}

img {
    width: 100%;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr .05fr;
    // grid-gap: .2rem;
    // max-width: 1700px;
    // width: 100%;
    // margin: 0 auto;
    justify-content: center;
    align-self: center;
    height: 100vh;
    text-align: center;
    header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            background: $primary-color;
        span{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    .nested {
        display: grid;
        // grid-template-columns: 1fr;
        // grid-template-rows: 1fr;
        #work {
            background: $white-color;
            padding: 1rem;
            color: $primary-color;
           section{
            h2 {
                text-transform: capitalize;
            }
           }
           a{
            text-decoration: none;
            color: $primary-color;
            }
        }
        #skills {
            background: $secondary-color;
            padding: 2rem;
            h2 {
                text-transform: capitalize;
            }
            h3,h4 {
                color: $primary-color;
                text-transform: capitalize;
            }
            img {
                width: 150px;
                height: 150px;
                border: 6px solid $primary-color;
                border-radius: 50%;
                // background: $primary-color;
            }
            .experience{
                ul{
                    li{
                        text-align: left;
                        list-style-type: disc;
                    }
                }
            }
        }
    }
    footer{
        background: $primary-color;
        padding: 1rem;
    }


    @media only screen and (min-width:550px) {
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header"
            "nested nested"
            "footer footer"
        ;
        header {
            grid-area: header;
            flex-direction: row;
           padding: 2.5rem 2rem 0 2rem;
           justify-content: space-between;
           span{
            font-size: 1rem;
        }
        }
        .nested {
            grid-area: nested;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 1fr;
            p {
                // background: yellow;
                margin: .5rem;
            }
        }
        footer{
            grid-area: footer;
            // background: magenta;
        }
    }
}